body {
  margin: 0;
  font-family: sans-serif;
}

.simulation-plot {
  width: 100%;
}

.simulation-video {
  width: 100%;
}

.simulation-comparison {
  width: 80%;
}

h2::before {
  height: 70px;
  content: "";
  display: block;
}

.container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.row {
  gap: 2%;
}

.para-img {
  flex-shrink: 0;
}

.SIR_img {
  /* width: 400px; */
  width: 30%;
}

.CN_img {
  width: 25%;
}

.lead > strong {
  font-weight: bold;
}

.simulation-button-container,
.output-titles {
  margin-top: 5%;
}

.output-videos,
.output-graphs,
.output-comparison {
  margin-top: 2%;
}

/* @media (max-width: 1199.98px) {
  .CN_img {
    align-self: flex-start;
  }
} */

@media (max-width: 991.98px) {
  .SIR_img {
    width: 100%;
  }

  .CN_img {
    width: 78%;
    order: 1;
  }

  .text-content {
    order: 2;
  }
}

@media (max-width: 119.98px) {
  /* output stuff */
}
