body {
  margin: 0;
  font-family: sans-serif;
}

.simulation-plot {
  width: 100%;
}

.simulation-video {
  width: 100%;
}

h2::before {
  height: 70px;
  content: "";
  display: block;
}

/* .container > div {
  display: flex;
  gap: 3%;
}

.para-img {
  display: inline-block;
} */

.row {
  gap: 2%;
}

.simulation-button-container,
.output-titles {
  margin-top: 5%;
}

.output-videos,
.output-graphs {
  margin-top: 2%;
}
